body {
    padding-top: 60px; /* When using the navbar-top-fixed */
    padding-bottom: 0px;
    font-family: THSarabunNew,"Helvetica",Arial,Verdana,sans-serif !important;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.navbar .navbar-inner {
    background: none repeat scroll 0 0 #394755;
    min-height: 40px;
    padding-top: 12px;
    padding-bottom: 1px;
}

.navbar .navbar-inner .brand {
    color: #FFFFFF;
    font-size: 26px;
    text-shadow: none;
    display: block;
    float: left;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
}

 .navbar .navbar-inner .nav > li > a {
    color: #FFFFFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none ;
}
.navbar .navbar-inner .nav > li > a:hover,
.navbar .navbar-inner .nav > li > a:focus
 {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
    text-shadow: none ;
}

#landing {
    padding: 30px 0 0px;
    background: none repeat scroll 0 0 #F1F1F1;

}

.content {
    background: url("noise-pink.png") repeat scroll 0 0 #FFFFFF;
}

hr.dashed {
    border-style: dashed none;
}

.marketing h2 {
  color: #394755;
  font-size: 40px;
  margin: 30px 0px 10px;
  text-align: center;
}

.marketing p {
  font-size: 25px;
  text-align: center;
}


.icon_wrapper {
    display: block;
    height: 200px;
}

#footer {
    background: none repeat scroll 0 0 #F1F1F1;
    color: #17405E;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

#copywrite {
    background: none repeat scroll 0 0 #394755;
    color: #D6DFE5;
    height: 40px;
}

div.number {
    color: #394755;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    text-align: center;
}

div.number-label {
    color: #394755;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.row .flex-control-nav {
    bottom: -30px;
}


.status {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 5px;
    float: left;
}

li.heart
 {
    background: url(heart.png) left center no-repeat;
    padding-left: 18px;
    margin-bottom: 10px;
  }

.navblue {
    background: none repeat scroll 0 0 #009bcb;
    min-height: 20px;
    padding-bottom: 1px;
    padding-top: 0px;
}

body.full {
  background: url('olderwoman.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  padding-bottom:30px;
}

#copy  {
   color: #FFFFFF;
   background-color:#394755;
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
}
.transparent {
  -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  background:rgba(255,255,255,0.5);
  border:1px solid #E3E3E3;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  margin-bottom:20px;
  min-height:20px;
  padding:19px;
}
